.input-group input {
  color: rgb(216, 216, 216);
}
.input-group input,
.input-group button,
.input-group button:focus-visible {
  padding: 10px;
  background-color: #807E88;
  border: none;
  box-shadow: none;
}
.input-group input:focus {
  background-color: #807E88;
  color: rgb(216, 216, 216);
  border: none;
  outline: none;
  box-shadow: none;
}
.input-group input::placeholder {
  color: rgb(216, 216, 216);
  transition: .2s;
}
.input-group input:focus::placeholder {
  opacity: 0;
}
.input-group button:hover,
.input-group button:active {
  background-color: #78777b !important;
  
}