.wrapper {
  color: rgba(255, 255, 255, .9) !important;
}
.wrapper .left {
  padding: 5px 0;
  background-color: #1E213B;
  border-radius: 10px;
  height: 100%;
}
.wrapper .left .details {
  margin-top: 30px;
}
.wrapper .left .details .name svg {
  color: var(--secondary-text);
}
.wrapper .left .details .temp {
  margin: 20px 0 40px;
  font-size: 60px;
}
.wrapper .left .details .temp span {
  font-size: 24px;
  color: var(--secondary-text);
}
.wrapper .left .details .state {
  margin-bottom: 40px;
}
.wrapper .right {
  padding-left: 20px;
}
.wrapper .right .unit li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #807E88;
}
.wrapper .right .unit li.active {
  background-color: #dfdfdf;
  color: #100E1C;
}
.wrapper .right .day-forecast,
.wrapper .right .highlight {
  background-color: #1E213B;
  border-radius: 4px;
}
.wrapper .right .highlight {
  padding: 15px;
}
.wrapper .right .highlight div {
  font-size: 16px;
  color: var(--secondary-text);
}
.wrapper .right .highlight h2{
  font-weight: 600;
}
.wrapper .right .highlight h2 span {
  font-size: 18px;
  font-weight: normal;
}