@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

/* Variables */
:root {
  --primary-text: #121212;
  --secondary-text: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(6, 7, 30);
  background: linear-gradient(
    0deg,
    rgba(6, 7, 30, 1) 0%,
    rgba(6, 17, 38, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100vh;
}
